<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://i.pinimg.com/originals/21/67/18/216718dcdbdbc5311b5621371525a76e.jpg');">
  <div class="banner-content">
    <div class=".col-xs-12.col-sm-6.col-md-6">
    <h1>Pick your Poison</h1>
    <h5>Getting Fucked Up Never Looked So Good</h5>
    </div>
  </div>
</div>
