


<%= render "components/banner"  %>

<div class="container">
  <div class: "card-container">

    <ul style="list-style-type:none">
      <div class="row">
        <% @cocktails.each do |c| %>

            <div class="col-xs-12 col-sm-6 col-md-2">

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://styleandcheek.com/wp-content/uploads/2015/10/Black-Beard-Cocktail-Honestly-Yum.jpg');">
                <div class="card-category"></div>
               <div class="card-description">
              <li><%=link_to c.name, cocktail_path(c) %></li>

            </div>

          </div>
        </div>
      <% end %>
      </div>
      <%= link_to "Create Your Drink", new_cocktail_path, class: "btn btn-primary" %>
    </ul>

  </div>

</div>


